$red:         #E62249;
$black:       #242B35;
$white:       #FFFFFF;
$snow:        #F0F3F5;
$glitter:     #e8edf0;
$cadet-gray:  #90A4B3;
$cool-gray:   #8493A8;
$green:       #3ECE6F;
$onyx:        rgba(12,16,21,0.60);
$light-gray:  rgba(115,133,159,0.16);
