// Popular Resets (Reset y Normalize 😍)
@import "resets";

// Bringing Manila from its own bower repo
@import "manila-mixins";

@mixin reset-input {
  appearance: none;
  border: none;
  border-radius: 0;
  background: none;
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  color: inherit;
  outline: none;
}
