//- https://www.npmjs.com/package/badger-accordion
mixin faq (title)
  div(data-accordion)
    button
      span= title
      div: +svg('caret-down')
      div: +svg('cross')
    div
      if block
        block
      else
        p Edit this for accordion
