mixin faq (title)
  div(data-accordion css-module='faqs.accordion.wrapper')
    button(css-module='faqs.accordion.button' data-trigger)
      span= title
      div(css-module='faqs.accordion.caret'): +svg('caret-accordion')
      div(css-module='faqs.accordion.close'): +svg('close')
    div(data-content)
      div(css-module='faqs.accordion.content')
        if block
          block
        else
          p Edit this for accordion
