section#general
  .container-620
    +faq('Where can I find more information on RNDR?')
    +faq('Are there any communication channels?')
    +faq('Do you have a White Paper in different languages?')
      p Yes, the white paper is translated to three different languages that can be found on our website. The languages are:
    +faq('Is there a bounty program?')
