header
  .container-1060
    div(css-module="faqs.menu.wrapper")
      div(css-module='home.menu.row')
        a(css-module="faqs.menu.logo" href="/" title="RNDR")
          +svg('rndr-mobile')

        button(css-module='faqs.menu.toggle')
          +svg('burger', {
            'css-module': 'faqs.menu.burger'
          })
          span.sr-only Toggle menu

        ul(css-module='faqs.menu.links')
          li: a(href="index#about") About
          li: a(href='index#intro') Render Token
          li: a(href='index#problem') The Problem
          li: a(href='index#team') Team & Advisors
          li: a(href='index#roadmap') Roadmap

        a(href="index" title="Back to landing page" css-module="home.menu.cta")
          span Back to landing page

    div(css-module='faqs.menu.divider')
      +svg('divider')
