nav(css-module='faqs.navigation.wrapper')
  .container-620
    ul(css-module='faqs.navigation.links')
      li: a.active(href='#general') General
      li: a(href='#value') Value Proposition
      li: a(href='#token') Token Sale
      li: a(href='#post') Post Sale
