section#value
  .container-620
    +faq('What is Render Token?')
    +faq('What is OTOY? Who\'s behind RNDR?')
    +faq('What is the problem RNDR is solving?')
      p It’s simple: There are around 265 million GPUs in circulation today, but less than 50,000 functioning on the public cloud. If RNDR were to leverage just 1% of the available GPUs out there, then we’d accomplish over 5300% growth in the rendering capacity without any expenditure in infrastructure.
    +faq('What is the Token purpose? Is it ERC-20 compatible?')
    +faq('Why do you need to use the Blockchain?')
    +faq('Can the tokens be mined?')
    +faq('Is it a Utility Token or a Security Token?')
    +faq('How do I calculate the value of one token?')
    +faq('Does OTOY already have their own products? Are there partnerships planned for the RNDR project?')
    +faq('What are the assets that OTOY is bringing into this project?')
