@import "../abstracts/index.scss";

:global {
  .container {
    position: relative;
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 ($column-gutter / 2);
  }

  .container-1060 {
    position: relative;
    width: 95%;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 ($column-gutter / 2);
  }

  .container-940 {
    position: relative;
    width: 95%;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 ($column-gutter / 2);
  }
}
