@import '../abstracts/index';

.wrapper {
  padding-bottom: 42px;
  color: $cool-gray;
  @include breakpoint(desktop) {
    padding: 36px 0;
  }
}

.divider {
  margin-bottom: 42px;
  svg {
    display: block;
    width: 100%;
  }

  @include breakpoint(desktop) {
    display: none;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  position: relative;
}

.right {
  text-align: right;
}

.logo {
  @include breakpoint(desktop) {
    @include align;
  }
}
