@import '../abstracts/index';

.wrapper {
  padding: 95px 0;
  color: $cool-gray;
  margin-top: auto;

  @include breakpoint(desktop) {
    padding: 36px 0 5px;
    border-bottom: 1px solid rgba($black, 0.05);
  }
}

.row {
  display: flex;
  justify-content: space-between;

  @include breakpoint(desktop) {
    display: block;
  }
}

.large {
  flex-basis: percentage(3/12);
  max-width: percentage(3/12);

  @include breakpoint(desktop) {
    display: none;
  }
}

.small {
  flex-basis: percentage(2/12);
  max-width: percentage(2/12);
  @include breakpoint(desktop) {
    max-width: 100%;
    margin-bottom: 29px;
  }
}

.logo {
  margin-bottom: 24px;
  display: block;
  svg {
    display: block;
  }
}

.summary {
  font-size: 15px;
  line-height: 24px;
}

.title {
  font-family: $lato;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 11px;
}

.dash {
  margin-bottom: 33px;
  @include breakpoint(desktop) {
    margin-bottom: 24px;
  }
  svg {
    display: block;
    fill: currentColor;
    @include size(29px, 2px);
  }
}

.social {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;

  @include breakpoint(desktop) {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-bottom: 10px;

    @include breakpoint(desktop) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  a {
    display: flex;
    align-items: center;
  }

  div {
    flex-basis: 30px;
    max-width: 30px;
  }

  svg {
    display: block;
  }
}

.links {
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;

  @include breakpoint(desktop) {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin-bottom: 10px;

    @include breakpoint(desktop) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  a {
    display: flex;
    align-items: center;
  }

  svg {
    margin: 0 5px;
  }
}

.desk {
  @include breakpoint(desktop) {
    display: none;
  }
}
