@import '../abstracts/_index';

:global {
  .home-hero {
    padding-top: 135px;
    padding-bottom: 72px;
    @include std-background;
    background-position: bottom;
    background-image: url('../images/hero.png');
    min-height: 760px;
  }
}
