@import '../abstracts/_index';

.background {
  padding-top: 135px;
  padding-bottom: 72px;
  @include std-background;
  background-position: bottom;
  background-image: url('../images/hero.png');
  min-height: 760px;
}

.row {
  display: flex;
  margin: 0 -($column-gutter / 2);
}

.large {
  @include flex-cols(5.5);
}

.rndr {
  margin-bottom: 24px;
}

.small {
  margin-left: auto;
  flex-basis: 450px;
  max-width: 450px;
  padding: 0 ($column-gutter / 2);
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 28px;

  li {
    &:first-child {
      font-weight: 700;
      margin-right: 40px;
    }
    &:nth-child(n+2) {
      margin-left: 18px;
      color: $cool-gray;
    }
  }
}

.subtitle {
  font-family: $lato;
  font-weight: 700;
  font-size: 19px;
  line-height: 26px;
  color: $cool-gray;
  margin-bottom: 5px;
}

.title {
  font-family: $lato;
  font-weight: 900;
  font-size: 41px;
  line-height: 67px;
}
