@import '../abstracts/index';

.wrapper {
  background: $snow;
  position: relative;

  @include breakpoint(desktop) {
    padding: 36px 0 40px;
  }
}

.container {
  width: 95%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 ($column-gutter / 2);
}

.row {
  display: flex;
  margin: 0 ($column-gutter / -2);

  @include breakpoint(desktop) {
    display: block;
    margin: 0;
  }
}

.small-col {
  padding: 0 ($column-gutter / 2);
  max-width: percentage(4/12);
  flex-basis: percentage(4/12);
  position: relative;

  display: flex;
  flex-direction: column;

  @include breakpoint(desktop) {
    max-width: 100%;
    padding: 0;
  }
}

.large-col {
  padding: 0 ($column-gutter / 2);
  max-width: percentage(7/12);
  flex-basis: percentage(7/12);
  margin-left: auto;
  @include breakpoint(desktop) {
    max-width: 100%;
    padding: 0;
  }
}

.intro {
  padding-top: 115px;
  max-width: 330px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include breakpoint(desktop) {
    padding-top: 0;
    max-width: 245px;
  }

  h6 {
    font-family: $lato;
    font-size: 19px;
    line-height: 23px;
    font-weight: 700;
    margin-bottom: 33px;
    @include breakpoint(desktop) {
      font-size: 15px;
      font-weight: 900;
      line-height: 18px;
      margin-bottom: 18px;
    }
  }

  h4 {
    font-size: 32px;
    line-height: 45px;
    font-weight: 600;
    margin-bottom: 20px;
    @include breakpoint(desktop) {
      font-size: 23px;
      line-height: 32px;
      margin-bottom: 32px;
    }
  }

  p {
    font-size: 18px;
    line-height: 29px;
    font-style: italic;
    @include breakpoint(desktop) {
      display: none;
    }
  }
}

.gpu {
  display: block;
  margin-left: -40px;
  position: absolute;
  bottom: 0;
  left: 0;
  @include breakpoint(desktop) {
    display: none;
  }
}

.read-more {
  display: none;
  @include breakpoint(desktop) {
    @include reset-btn();
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 22px auto 0;
    color: $white;
    background: $black;
    border-radius: 20px;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    padding: 6px 14px;
  }

  svg {
    margin-left: 6px;
  }
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  width: percentage(800/1440);

  @include breakpoint(desktop) {
    position: relative;
    width: 100%;
    margin-bottom: 33px;
  }

  img {
    display: block;
    width: 100%;
    @include breakpoint(desktop) {
      border-radius: 5px;
    }
  }

  svg {
    @include align;
    opacity: 0.65;
    transition: .3s;
    @include breakpoint(desktop) {
      opacity: 0.8;
      @include size(59px);
    }
  }

  &:hover, &:focus {
    svg {
      opacity: 1;
    }
  }
}

.button {
  @include reset-btn;
  display: block;
}

.iframe {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  display: none;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.copy {
  padding: 100px 0;
  font-size: 15px;
  line-height: 28px;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(desktop) {
    display: none;
  }

  p + p {
    margin-top: 30px;
  }
}

.mobile-intro {
  display: none;
  @include breakpoint(desktop) {
    display: block;
    font-size: 15px;
    line-height: 26px;
    font-weight: 600;
    text-align: center;
    max-width: 295px;
    margin-left: auto;
    margin-right: auto;
  }
}
