@import '../abstracts/index';

.header {
  padding-top: 42px;
  padding-bottom: 60px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.normal-links {
  display: flex;
  align-items: center;
  justify-content: center;

  li + li {
    margin-left: 30px;
  }

  a {
    font-size: 15px;
    line-height: 28px;
    font-weight: 600;
    color: $cool-gray;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 40px;

  li + li {
    margin-left: 24px;
  }
}

.cta {
  background: $red;
  color: $white;
  font-weight: 900;
  font-family: $lato;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  padding: 12px 18px;

  span {
    margin-left: 9px;
  }
}
