@import '../abstracts/_index';

.form {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0 rgba(115,133,159,0.16);
  padding: 33px 19px 40px 40px;
  margin-left: auto;
  margin-bottom: 97px;

  @include breakpoint(desktop) {
    box-shadow: none;
    padding: 0;
    margin-bottom: 32px;
  }
}

.title {
  font-family: $lato;
  font-size: 21px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 11px;

  @include breakpoint(desktop) {
    font-size: 15px;
    line-height: 28px;
    color: $cool-gray;
    margin-bottom: 16px;
  }
}

.text {
  font-size: 15px;
  line-height: 28px;
  color: $cool-gray;
  margin-bottom: 31px;
  @include breakpoint(desktop) {
    display: none;
  }
}

.input {
  position: relative;
  padding-right: 20px;
  @include breakpoint(desktop) {
    padding-right: 19px;
  }

  input {
    @include reset-input;
    border-radius: 5px;
    background: $snow;
    padding: 17px 24px;
    font-size: 18px;
    line-height: 23px;
    color: $black;
    display: block;
    width: 100%;
    @include breakpoint(desktop) {
      font-size: 15px;
      line-height: 19px;
      padding: 15px 18px;
      border-left: 3px solid $red;
    }
    @include placeholder {
      font-size: 18px;
      line-height: 23px;
      color: $cool-gray;
      @include breakpoint(desktop) {
        font-size: 15px;
        line-height: 19px;
      }
    }
  }

  button[type='submit'] {
    @include reset-btn;
    @include size(42px);
    @include align(vertical);
    right: 0;
    background: $red;
    border-radius: 50%;
    color: $white;
    @include breakpoint(desktop) {
      @include size(38px);
    }

    svg {
      @include align;
      [stroke] {
        stroke: $white;
      }
    }
  }
}
