@import '../abstracts/index';

.wrapper {
  padding: 115px 0;
  text-align: center;
  @include breakpoint(desktop) {
    padding: 36px 0 38px;
  }
}

.container {
  position: relative;
  width: 95%;
  max-width: 1144px;
  margin: 0 auto;
  padding: 0 ($column-gutter / 2);
}

.row {
  display: flex;
  justify-content: space-between;
  @include breakpoint(desktop) {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
    align-items: center;
  }
}

.media {
  svg, img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  @include breakpoint(desktop) {
    flex-basis: percentage(1/3);
    max-width: percentage(1/3);
    padding: 0 15px;
    margin-bottom: 20px;
  }
}

.large {
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
  margin-bottom: 66px;
  @include breakpoint(desktop) {
    font-size: 23px;
    line-height: 32px;
    margin-bottom: 29px;
  }
}

.small {
  font-family: $lato;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 32px;

  @include breakpoint(desktop) {
    font-weight: 900;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 18px;
  }
}
