@import '../abstracts/index';

.wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(desktop) {
    margin-bottom: 37px;
  }
}

.title {
  font-size: 15px;
  font-family: $lato;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 17px;
}

.progress {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(desktop) {
    display: none;
  }
}

.progress-mobile {
  display: none;
  @include breakpoint(desktop) {
    display: block;
    max-width: 295px;
    margin-left: auto;
    margin-right: auto;
  }
}
