div
  span Q3
  div
    span 2018
    +svg('dot')
    span Q3/4
  h6 Render Phase III
  h5 Launch Peer-to-Peer Network

  div
    p End of beta period. Launch of the p2p exchange and unlock of the full capability of the Render token network. Streamline back-end processes and automation process of the rendering-streaming through smart contracts and blockchain technology.

  button
    span Read more
    +svg('caret-down')
