div
  span Q2
  div
    span 2018
    +svg('dot')
    span Q2
  h6 Render Phase II
  h5
    | Development Process & Preparation for P2P Transition
    +svg('current')

  div
    p Development of OTOY’s back-end network that will handle the efficient processing of the rendering and streaming transactions via the Ethereum blockchain. Alpha testing on the testnet of the p2p network. Migration to real tokens.

  button
    span Read more
    +svg('caret-down')
