@import '../abstracts/index';

.wrapper {
  border-radius: 5px;
  border: 2px solid #D6DEE5;
  color: $cool-gray;
  transition: .3s;
  margin-bottom: 26px;
  overflow: hidden;
}

.close {
  display: none;
  margin-top: 10px;
}

.caret {
  display: block;
  margin-top: 10px;
}

.active {
  background: $white;
  color: $black;
  box-shadow: 0 6px 20px 0 rgba(115,133,159,0.16);
  border-color: $white;
  .close {
    display: block;
  }

  .caret {
    display: none;
  }
}

.button {
  @include reset-btn;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  padding: 35px 42px;

  @include breakpoint(desktop) {
    padding: 18px 24px;
  }

  svg {
    display: block;
    fill: currentColor;
  }

  span {
    font-family: $lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    max-width: 490px;
    display: block;

    @include breakpoint(desktop) {
      font-size: 13px;
      line-height: 21px;
      max-width: 215px;
    }
  }
}

.content {
  padding: 0 42px 35px;

  font-size: 15px;
  line-height: 28px;

  @include breakpoint(desktop) {
    padding: 0 24px 35px;
    font-size: 14px;
    line-height: 22px;
  }

  p + p {
    margin-top: 28px;
  }

  a {
    color: #226BE6;
  }
}
