@import '../abstracts/index';

.wrapper {
  padding: 35px 42px;
  border-radius: 5px;
  border: 2px solid #D6DEE5;
  color: $cool-gray;
  transition: .3s;
  margin-bottom: 26px;
  overflow: hidden;
}

.active {
  background: $white;
  color: $black;
}

.button {
  @include reset-btn;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: left;

  svg {
    display: block;
    fill: currentColor;
  }

  span {
    font-family: $lato;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    margin-right: auto;
    max-width: 490px;
    display: block;
  }
}

.close {
  display: none;
}

.caret {
  display: block;
  margin-top: 10px;
}
