@import '../abstracts/index';

.wrapper {
  padding-top: 83px;
  @include breakpoint(desktop) {
    padding-top: 0;
  }
}

.title {
  font-size: 36px;
  line-height: 58px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: $lato;
  font-weight: 700;

  @include breakpoint(desktop) {
    font-family: $source;
    font-size: 23px;
    line-height: 32px;
    @include fw(600);
    max-width: 170px;
  }

}
