@import '../abstracts/index';

.wrapper {
  padding: 42px 0;

  @include breakpoint(desktop) {
    padding: 37px 0 29px;
  }
}

.logo {
  margin-right: auto;

  svg {
    display: block;
    width: 113px;
    height: 39px;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(desktop) {
    display: none;
  }

  li + li {
    margin-left: 30px;
  }

  a {
    font-size: 15px;
    line-height: 28px;
  }
}

.divider {
  @include breakpoint(desktop) {
    display: none;
  }
  svg {
    display: block;
    width: 100%;
  }
}

.toggle {
  display: none;
  @include breakpoint(desktop) {
    @include reset-btn;
    display: flex;
    @include size(34px);
    align-items: center;
    justify-content: center;
    border: 2px solid rgba($cool-gray, 0.2);
    border-radius: 50%;
  }
}

.burger {
  display: block;
}
