@import '../abstracts/index';

.wrapper {
  background: #f0f3f5;
  padding: 26px 0;
  transition: .4s;
  visibility: visible;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &.pinned {
    transform: translateY(0);
  }

  &.unpinned {
    transform: translateY(-100%);
    visibility: hidden;
  }
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 16px;
  font-family: $lato;
  font-weight: 900;
  color: $cool-gray;

  li + li {
    margin-left: 30px;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-align: center;
    border-radius: 14px;
  }

  :global {
    a.active {
      color: $white;
      background: $cool-gray;
    }
  }
}
