extends layouts/layout-primary

block content
  #faqs-page(css-module='faqs.background.color')
    include faqs/menu
    include faqs/mobile-menu
    include faqs/header
    include faqs/navigation
    include faqs/accordion
    include faqs/general
    include faqs/value
    include faqs/token
    include faqs/post
  include home/footer
  include home/copyright
