@import '../abstracts/index';

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -50px 77px;

  @include breakpoint(desktop) {
    margin: 0;
    display: block;
  }
}

.vip {
  flex-basis: 420px;
  max-width: 420px;
  padding: 0 50px;

  @include breakpoint(desktop) {
    padding: 0;
    max-width: 169px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
  }

  button {
    @include reset-btn;
  }

  img, svg {
    display: block;
    width: 100%;
    margin-bottom: 44px;
    @include breakpoint(desktop) {
      margin-bottom: 15px;
    }
  }

  h4 {
    font-family: $lato;
    font-size: 22px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 17px;
    @include breakpoint(desktop) {
      font-size: 19px;
      line-height: 21px;
      margin-bottom: 8px;
    }
  }

  h5 {
    font-family: $lato;
    font-size: 16px;
    line-height: 19px;
    font-weight: 900;
    margin-bottom: 8px;
    @include breakpoint(desktop) {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 4px;
    }
  }

  h6 {
    font-family: $lato;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    @include breakpoint(desktop) {
      font-size: 11px;
      line-height: 28px;
    }
  }
}

.info {
  display: none;
  visibility: none;
}
