#copyright(css-module='home.copyright.wrapper')
  .container-1060
    div(css-module='home.copyright.divider')
      +svg('divider')
    div(css-module='home.copyright.row')
      div
        span 2018 © OTOY Inc.
      div
        +svg('footer-logo')
      div(css-module='home.copyright.right')
        span Made in USA
