section#faqs(css-module='home.faqs.wrapper')
  .container-1060
    a(href='faqs' title='Visit the FAQs page' css-module='home.faqs.link')
      span
        span(css-module='home.faqs.desk') Maybe we’ve already answered your question.
        span Visit our FAQs
      +svg('arrow-faqs')
