footer#footer
  .container-1060
    div
      div
        a(href='index' title='rndr')
          span.sr-only RNDR Logo
          +svg('rndr')
        p The first network to transform the power of GPU compute into a decentralized economy of connected 3D assets.
      div
        h6 Find us on
        +svg('dash')

        ul
          li: a(href="#")
            +svg('rocket')
            span Rocket.Chat
          li: a(href="#")
            +svg('twitter')
            span Twitter
          li: a(href="#")
            +svg('facebook')
            span Facebook
          li: a(href="#")
            +svg('telegram')
            span Telegram
          li: a(href="#")
            +svg('reddit')
            span Reddit
          li: a(href="#")
            +svg('medium')
            span Medium
      div
        h6 RNDR Token
        +svg('dash')

        ul
          li: a(href='#')
            span Watch Intro Video
            +svg('play-mini')
          li: a(href='#') About OTOY
          li: a(href='#') Render Token
          li: a(href='#') The Problem
          li: a(href='#') Team & Advisors
          li: a(href='#') Roadmap
          li: a(href='#') Media Press
      div
        h6 Whitepaper
        +svg('dash')
        ul
          li: a(href="#") English
          li: a(href="#") 简体中文
          li: a(href="#") 한국어
          li: a(href="#") Русский
