section#hero(css-module="home.hero.wrapper")
  include menu
  div(css-module='home.hero.container')
    div(css-module="home.hero.row")
      div(css-module="home.hero.large")
        div(css-module='home.hero.rndr')
          +svg('rndr')
        h6(css-module="home.hero.subtitle") OTOY's render token for
        h1(css-module="home.hero.title") Distributed GPU rendering in the blockchain
        +svg('dash', {
          'css-module': 'home.hero.dash'
        })

      div(css-module="home.hero.small")
        ul(css-module="home.hero.menu")
          li: a(href="https://rendertoken.com/pdf/1.7RenderTokenWhitepaper.pdf") Whitepaper
          li: a(href="https://rendertoken.com/pdf/1.7RenderTokenWhitepaper.pdf") English
          li: a(href="https://rendertoken.com/pdf/1.2.1RenderTokenWhitepaper_Chinese.pdf") 简体中文
          li: a(href="https://rendertoken.com/pdf/1.2.1RenderTokenWhitepaper_Korean.pdf") 한국어
          li: a(href="https://rendertoken.com/pdf/1.2.1RenderTokenWhitepaper_Russian.pdf") Русский

        include newsletter
        include project-status
