section(css-module="home.hero.wrapper")
  include menu
  .container
    div(css-module="home.hero.row")
      div(css-module="home.hero.large")
        div(css-module='home.hero.rndr')
          +svg('rndr')
        h6(css-module="home.hero.subtitle") OTOY's render token for
        h1(css-module="home.hero.title") Distributed GPU rendering in the blockchain

      div(css-module="home.hero.small")
        ul(css-module="home.hero.menu")
          li: a(href="#") Whitepaper
          li: a(href="#") English
          li: a(href="#") 简体中文
          li: a(href="#") 한국어
          li: a(href="#") Русский

        include newsletter
        include project-status
