mixin sector({icon, name})
  div
    div
      +svg(icon)
    div
      p= name

#how(css-module='home.how.wrapper')
  .container-1060
    h6 How It Works
    h4 The Render Ecosystem
    p RNDR will be the first network to transform the power of GPU compute into a decentralized economy of connected 3D assets.

    +svg('infographic')

    p Ethereum’s widespread adoption was the key to realizing our vision. Instead of GPUs being used to only mine currencies, we use their intrinsic function to render and leverage the features of the blockchain: network, incentives and trust.

    div
      div
        h5 Sectors transformed by RNDR
      div
        +sector({
          icon: 'media',
          name: 'Media'
        })
        +sector({
          icon: 'industry',
          name: 'Industry'
        })
        +sector({
          icon: 'ar',
          name: 'Augmented Reality'
        })
        +sector({
          icon: 'mixed-reality',
          name: 'Mixed Reality'
        })
        +sector({
          icon: 'gaming',
          name: 'Gaming'
        })
        +sector({
          icon: 'medical',
          name: 'Medical'
        })
        +sector({
          icon: 'vr',
          name: 'Virtual Reality'
        })

  +img('close.png')
