header(css-module="home.menu.header")
  a(css-module="home.menu.logo" href="/" title="Otoy")
    +svg('logo')
  .container
    div(css-module='home.menu.row')
      a(css-module="home.menu.rndr" href="/" title="RNDR")
        +svg('rndr-mobile')

      button(css-module='faqs.menu.toggle')
        +svg('burger', {
          'css-module': 'faqs.menu.burger'
        })
        span.sr-only Toggle menu
      ul(css-module='home.menu.normal-links')
        li: a(href="#") About
        li: a(href="#") Render Token
        li: a(href="#") The Problem
        li: a(href="#") Team & Advisors
        li: a(href="#") Token Sale
        li: a(href="#") Roadmap

      ul(css-module='home.menu.social')
        li: a(href="#"): +svg('twitter')
        li: a(href="#"): +svg('facebook')
        li: a(href="#"): +svg('telegram')
        li: a(href="#"): +svg('reddit')
        li: a(href="#"): +svg('medium')

      a(href="#" title="Launch Rocket Chat" css-module="home.menu.cta")
        +svg('rocket')
        span Launch Rocket Chat
