div(css-module='home.project-status.wrapper')
  h6(css-module='home.project-status.title') Project Status
  +svg('progress', { 'css-module': 'home.project-status.progress' })
  +img('progress-mobile@2x.png', 'home.project-status.progress-mobile')
