section#roadmap
  .container-1060
    h6 Roadmap
    h4 2017, 2018 & Beyond

    include roadmap/one

    div
      div
        include roadmap/two
        include roadmap/four
      div
        +svg('timeline')
      div
        include roadmap/three

  +img('close.png')
