nav(css-module='home.sticky-navigation.wrapper' data-gumshoe-header)
  .container
    div(css-module='home.sticky-navigation.row')
      div
        button(css-module='home.sticky-navigation.scroll-top')
          +svg('up-arrow')
          span Back to top

      ul(css-module='home.sticky-navigation.navigation' data-gumshoe)
        li: a.active(href='#about') About
        li: a(href='#intro') Render Token
        li: a(href='#problem') The Problem
        li: a(href='#team') Team & Advisors
        li: a(href='#roadmap') Roadmap

      div
        button(css-module='home.sticky-navigation.subscribe') Subscribe

      button(css-module='home.sticky-navigation.toggle')
        +svg('burger', {'css-module': 'home.sticky-navigation.burger'})
        span.sr-only Toggle menu
