nav(css-module='home.sticky-navigation.wrapper')
  .container
    div(css-module='home.sticky-navigation.row')
      div
        button(css-module='home.sticky-navigation.scroll-top')
          +svg('up-arrow')
          span Back to top

      ul(css-module='home.sticky-navigation.navigation')
        li: a.active(href='#about') About
        li: a(href='#render-token') Render Token
        li: a(href='#the-problem') The Problem
        li: a(href='#team') Team & Advisors
        li: a(href='#roadmap') Roadmap

      div
        button(css-module='home.sticky-navigation.subscribe') Subscribe
