section#team
  .container-1060
    h6 Team
    h4 Meet the founders & our advisors
    include team/founders
    include team/advisors

    h4 And the core team.
    include team/core
    h4 People handling community outrearch.
    include team/commies
