section#team(css-module='home.team.wrapper')
  .container-1060
    h6(css-module='home.team.title') Team
    h4(css-module='home.team.meet') Meet the founders & our advisors
    include team/founders
    include team/advisors

    div(css-module='home.team.uncool')
      h4(css-module='home.team.subtitle') And the core team.
      include team/core
      h4(css-module='home.team.subtitle') People handling community outrearch.
      include team/commies

  button(css-module='home.team.rest')
    span Rest of the team
    +svg('arrow-right')
