mixin advisor({img, name, title})
  div(css-module='team.advisors.advisor' data-team)
    button
      if img
        +img(img)
      else
        +svg('avatar')
      h4= name
      h5= title

      div(css-module='team.founders.info')
        if block
          block
        else
          p Alissa sets the strategic direction of OTOY and leads all operations. For nearly a decade, her passion has been to take the genius of OTOY’s patents and research and bring them to the mass market. She spearheads the company's activities worldwide and drives all partnerships, financings, and acquisitions.
          p In the last 18 months alone, Alissa led key deals with Facebook and Unity to bring OTOY’s technology to billions of consumers. She also closed strategic partnerships with HBO, Disney, Discovery Communications, Mattel, Liberty Media and Madison Square Garden Group.
          p Prior to OTOY, Alissa started a venture fund with technology writer, George Gilder, which invested in startup and mid-stage technology companies. Alissa graduated Magna Cum Laude from Georgetown University.

div(css-module='team.advisors.row')
  +advisor({
    img: 'ari.png',
    name: 'Ari Emanuel',
    title: 'Co-Founder & Co-CEO @ WME IMG'
  })
  +advisor({
    name: 'J.J. Abrams',
    title: 'Chairman & CEO @ Bad Robot Productions'
  })
  +advisor({
    img: 'brendan.png',
    name: 'Brendan Eich',
    title: 'Founder & CEO @ Brave Software & BAT'
  })
  +advisor({
    img: 'george.png',
    name: 'George Gilder',
    title: 'Founder & Partner @ Gilder Technology Fund'
  })
  +advisor({
    name: 'Jennifer Zhu Scott',
    title: 'Principal @ Radian & Council Member @ WEF'
  })
  +advisor({
    name: 'Demian Brener',
    title: 'Co-Founder & CEO @ Zeppelin Solutions'
  })
  +advisor({
    name: 'Manuel Araoz',
    title: 'CTO @ Zeppelin Solutions & Partner @ INB'
  })
  +advisor({
    name: 'Ari Meilich',
    title: 'CEO & Project Lead @ Decentraland'
  })
