mixin core({img, name, title})
  div(css-module='team.core.core' data-team)
    button
      if img
        +img(img)
      else
        +svg('avatar')
      h4= name
      p= title

      div(css-module='team.founders.info')
        p Alissa sets the strategic direction of OTOY and leads all operations. For nearly a decade, her passion has been to take the genius of OTOY’s patents and research and bring them to the mass market. She spearheads the company's activities worldwide and drives all partnerships, financings, and acquisitions.
        p In the last 18 months alone, Alissa led key deals with Facebook and Unity to bring OTOY’s technology to billions of consumers. She also closed strategic partnerships with HBO, Disney, Discovery Communications, Mattel, Liberty Media and Madison Square Garden Group.
        p Prior to OTOY, Alissa started a venture fund with technology writer, George Gilder, which invested in startup and mid-stage technology companies. Alissa graduated Magna Cum Laude from Georgetown University.

div(css-module='team.core.container')
  div(css-module='team.core.row')
    +core({
      img: 'kalin.png',
      name: 'Kaling Stoyanchev',
      title: 'Project Lead'
    })
    +core({
      img: 'charlie.png',
      name: 'Charlie Wallace',
      title: 'Chief Science Officer'
    })
    +core({
      name: 'Akram Abdou',
      title: 'Project Manager'
    })
    +core({
      img: 'adam.png',
      name: 'Adam Bodnar',
      title: 'Developer'
    })
    +core({
      img: 'kevin.png',
      name: 'Kevin Bockman',
      title: 'Developer'
    })
    +core({
      name: 'Time Maclean',
      title: 'Developer'
    })
    +core({
      name: 'Daniel Torres',
      title: 'Developer'
    })
