aside(css-module='team.detail.wrapper team.detail.active' data-id='1')
  button(css-module='team.detail.exit')
    +svg('cross')
    span or press esc

  div(css-module='team.detail.card')
    div(css-module='team.detail.info')
      div(css-module='team.detail.pic')
        +img('alissa.png')

      h4(css-module='team.detail.name') Alissa Grainer
      h5(css-module='team.detail.title') President
      h6(css-module='team.detail.extra') Co-Founder @ OTOY

      div(css-module='team.detail.copy')
        p Alissa sets the strategic direction of OTOY and leads all operations. For nearly a decade, her passion has been to take the genius of OTOY’s patents and research and bring them to the mass market. She spearheads the company's activities worldwide and drives all partnerships, financings, and acquisitions.
        p In the last 18 months alone, Alissa led key deals with Facebook and Unity to bring OTOY’s technology to billions of consumers. She also closed strategic partnerships with HBO, Disney, Discovery Communications, Mattel, Liberty Media and Madison Square Garden Group.
        p Prior to OTOY, Alissa started a venture fund with technology writer, George Gilder, which invested in startup and mid-stage technology companies. Alissa graduated Magna Cum Laude from Georgetown University.

    div(css-module='team.detail.footer')
      button(css-module='team.detail.prev' data-id='0')
        h4 Jules Urbach
        div
          +svg('arrow-left')
          h6 CEO

      button(css-module='team.detail.foot-close')
        +svg('cross')

      button(css-module='team.detail.next' data-id='2')
        h4 Ari Emmanuel
        div
          h6 Advisor
          +svg('arrow-right')
